.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    height: auto;
}

.navbar__right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.navbar__logo-img {
    width: 20rem;
    height: 100%;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    height: 100%;
}

.navbar__list-link {
    color: var(--white-color);
    font-size: 1.8rem;
}