.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
}

.navbar__menu-right {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.navbar__menu-logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.navbar__menu-logo-title {
    font-family: 'Morabba';
    font-size: 3rem !important;
}

.navbar__menu-logo svg {
    font-size: 3rem !important;
}

.menu-search {
    position: relative;
    width: 30rem;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 4rem;
    box-shadow: var(--box-shadow);
}

.menu-search svg {
    font-size: 2rem;
    position: absolute;
    left: 2rem;
}

.menu-search__input {
    padding: 1rem 4rem;
    font-size: 1.5rem;
    width: 100%;
}

.navbar__menu-left {}

.navbar__menu-list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.navbar__menu-item {}

.navbar__menu-link {}

.navbar__menu-item-account {
    color: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 1.5rem;
}

.navbar__products {
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 2rem;
}

.navbar__products-right {}

.navbar__products-list {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.navbar__products-item {
    cursor: pointer;
}

.navbar__products-left {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.navbar__products-wallet {
    cursor: pointer;
}

.navbar__products-bookmark svg,
.navbar__products-favorite svg {
    font-size: 2rem;
    cursor: pointer;
}

.navbar__products-support {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
}

.navbar__products-support svg {
    font-size: 2rem;
}