@font-face {
    font-family: 'Dana';
    src: url(../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2);
}

@font-face {
    font-family: 'Dana Bold';
    src: url(../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2);
}

@font-face {
    font-family: 'Morabba';
    src: url(../public/fonts/Morabba/woff2/Morabba-Bold.woff2);
}

:root {
    --white-color: #fff;
    --dark-color: #020617;
    --primary-color: #3b82f6;
    --primary-color-light: #1e3a8a;
    --secondary-color: ;
    --text-color: #4F4B8B;
    --gray-color: #757F95;
    --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    direction: rtl;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Dana';
    line-height: 1.6;
    font-size: 1.6rem !important;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 300ms ease;
}

a:hover {
    color: var(--primary-color);
}

img {
    width: 100%;
    height: 100%;
}

button,
input,
textarea {
    background-color: transparent;
    font-family: 'Dana';
}

ul {
    list-style: none;
}


/* ==================  components  ==================== */

.app__btn {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 1rem;
    transition: all 300ms ease;
    cursor: pointer;
}

.app__btn:hover {
    background-color: var(--primary-color-light);
}

/* ==================  Helper  ==================== */

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.link {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 300ms ease;
    cursor: pointer;
}

.link:hover {
    color: var(--primary-color);
}


@media screen and (max-width : 1400px) {}

@media screen and (max-width : 1200px) {}

@media screen and (max-width : 992px) {}

@media screen and (max-width : 768px) {}

@media screen and (max-width : 576px) {}